.main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--max-w);
  padding: 0 32px;
  width: 100%;
}

@media (min-width: 1080px) and (max-width: 1279px) {
  .main {
    padding: 0 32px 0 40px;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 0 70px 0 108px;
  }
}
